header img {
    width: 180px;
    height: 28px;
}

.header--title-container h1 {
    font-size: 4rem;
    line-height: 4.2rem;
}

.header--title-container p {
    font-size: 2rem;
    line-height: 2.4rem;
}

.main-exchange-container h2 {
    font-size: 4rem;
    line-height: 4.2rem;
}

.main-exchange-container p {
    font-size: 2rem;
    line-height: 2.4rem;
}

.main-table-container {
    display: flex;
    margin: 0 auto;
    overflow-x: unset;
}

.product-cards--container {
    display: grid;
    width: fit-content;
    grid-template-columns: 1fr 1fr;
}

.product-detail--card {
    min-width: 288px;
    max-width: 480px;
    height: 150px;
    padding: 10px 20px 22px 16px;
}

.product-detail--title h2 {
    font-size: 4rem;
    line-height: 4.2rem;
}

.product-detail--title p {
    font-size: 2rem;
    line-height: 2.4rem;
}

.plans-container--slider {
    justify-content: center;
    overflow-x: unset;
}

.main-table-container {
    display: grid;
    column-gap: 10vw;
    width: fit-content;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

.main-currency-table {
    position: relative;
    width: 70%;
}

.main-commission-table {
    position: relative;
    width: 70%;
}

.bitcoin-img-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bitcoin-img-container h2 {
    padding: 0;
    font-size: 4rem;
    line-height: 4.2rem;
}

.plans--title h2 {
    font-size: 4rem;
    line-height: 4.2rem;
}

.plans--title p {
    font-size: 2rem;
    line-height: 2.4rem;
}

footer .left ul {
    font-size: 2rem;
    line-height: 2.4rem;
}

footer .right img {
    width: 150px;
    height: 100px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}